@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@font-face {
    font-family: 'falyadhias';
    src: url('../Resources/falyadhias-webfont.woff2') format('woff2'),
         url('../Resources/falyadhias-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    font-size: .875rem;
    letter-spacing: 2px;
    line-height: 1.2;
    background-color: #EDE0D4;
    color: #7F5539;
    font-family: 'Montserrat' !important;
    overflow-x: hidden;
}

#homepage, #coll, #works, #about {
    padding: 2em;
}

.logo-text, .nav-link, h1, .footer-text {
    font-family: 'falyadhias';
}

h1 {
    padding-top: .5em;
    font-size: 2.5rem;
    line-height: .9;
    letter-spacing: 3px;
    color: #9C6644;
}

.title {
    font-size: 4em;
}

a {
    text-decoration: none;
}

#homepage img, #about img {
    width: 100%;
    height: 13em;
    margin-top: 2em;
    object-fit: cover;
    border-radius: 15px;
}

.btn {
    display: inline-block;
    margin: 1.5em 0;
    width: 12em;
    text-align: center;
    padding: 1em 0;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: #9C6644;
    border-radius: 8px;
    color: #EDE0D4;
    transition: .3s ease-in;
}

.btn:hover {
    background-color: #7F5539;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    background-color: #EDE0D4;
    transition: all .3s ease-in-out;
}

.change-bg {
    background-color: #7F5539;
}

.logo a, header{
    display: flex;
    align-items: center;
}

.logo{
    position: fixed;
    left: 10%;
}

#header-img {
    width: 1.5em;
}

.logo-text{
    font-size: 2rem;
    padding-left: .3em;
    color: #7F5539;
}

.nav-toggle{
    margin-left: auto;
    margin-right: 10%;
    cursor: pointer;
}

.nav-toggle div{
    width: 1.5em;
    height: .2em;
    margin: .3em;
    background-color: #7F5539;
}

#nav-bar.active {
    transform: translateX(0%);
}

#nav-bar.close {
    transform: translateX(110%);
}

.nav-toggle {
    display: none;
}

#nav-bar {
    margin-left: auto;
    margin-right: 10%;
    width: 30%;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    font-size: 2em;
    color: #7F5539;
}

.nav-link:hover {
    color: #9C6644;
}

#homepage {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 10%;
    height: 100vh;
}

#homepage p, #about p {
    padding-top: 1em ;
}

#coll h1 {
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5em;
}

.card img {
    width: 13em;
    height: 15em;
    object-fit: cover;
    border-radius: 8px;
}

.card:first-of-type img,  .card:nth-of-type(2) img {
    object-position: 100% 0;
}

.card:last-of-type {
    margin-bottom: 1em;
}

#works {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: #B49880;
}

.videoWrapperOuter {
    width: 640px; 
}

.videoWrapperInner {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#works h1 {
    color: #7F5539;
}

#about {
    margin-bottom: 3em;
}

footer {
    padding: 3em 2em;
    text-align: center;
    background-color: #9C6644;
    color: #EDE0D4;
}

.footer-links, .social, .subscribe{
    padding: 1.5em 0;
}

footer a {
    color: #EDE0D4;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
}

.footer-img {
    height: 1.5em;
    width: auto;
}

.text {
    text-align: center;
    margin-top: -.3em;
    padding-left: .5em;
}

.footer-text {
    margin-top: -.5em;
    font-size: 1.8rem;
}

.text p {
    margin-top: -.5em;
    font-size: .8rem;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    padding: .3em;
}

.footer-links a:hover, .social .fas:hover {
    color: #E6CCB2;
}

.social div, .social a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    margin: .25em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EDE0D4;
}

.social .fab {
    color: #9C6644;
}

.social p, .subscribe p:first-of-type {
    font-weight: 700;
    font-size: 1rem;
    padding: .5em;
}

#email {
    width: 250px;
    margin: 1em;
    padding: .5em;
    border: 2px solid #7F5539;
    border-radius: 5px;
}

#submit {
    display: inline-block;
    width: 10em;
    text-align: center;
    padding: .75em 0;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #EDE0D4;
    border-radius: 8px;
    border: none;
    color: #9C6644;
    cursor: pointer;
    transition: .3s ease-in;
}

.social a:hover, #submit:hover {
    background-color: #E6CCB2;
}

/* mobile navbar layout */
@media (max-width: 899px) {
    .nav-toggle{
        display: block;
        margin-left: auto;
        margin-right: 10%;
        cursor: pointer;
    }

    .nav-toggle div{
        width: 1.5em;
        height: .2em;
        margin: .3em;
        background-color: #7F5539;
    }

    #nav-bar {
        position: absolute;
        top: 10vh;
        height: 100%;
        width: 100%;
        background-color: #7F5539;
        transform: translateX(110%);
        transition: all .3s ease-in-out;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
        background-color: #EDE0D4;
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
        background-color: #EDE0D4;
    }

    #nav-bar ul{
        display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        background-color: #7F5539;
    }

    #nav-bar li {
        padding: 3em 0;
    }

    .nav-link {
        color: #EDE0D4;
        font-size: 2.8rem;
    }
}

@media (min-width: 600px) {
    #works, #about {
        height: 100vh;
    }
    
    .btn {
        font-size: .8rem;
    }
    
    .logo-text{
        font-size: 2.5rem;
        padding-left: .3em;
    }

    #header-img {
        width: 1.8em;
    }

    .title {
        font-size: clamp(7rem, 9vw, 10rem);
        letter-spacing: 5px;
    }

    .homepage-title {
        font-size: clamp(2.5rem, 5.5vw, 10rem);
        letter-spacing: 5px;
    }

    h1 {
        padding: 0;
    }

    .home-para, .about-container p {
        font-size: clamp(1rem, 1.1rem, 1.4rem);
        line-height: 1.6;
    }

    #homepage {
        margin: 2em auto 0 auto;
        width: 80%;
    }
    
    #homepage img{
        height: clamp(18em, 23em, 25em);
        margin-bottom: 2em;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about h1 {
        display: flex;
        flex-wrap: wrap;
        transform: translateX(3rem) translateY(8rem);
        z-index: 1;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-3rem);
        width: 70%;
        margin-right: 10%;
        margin-left: auto;
    }

    #about img {
        height: clamp(20em, 50vh, 25em);
    }

    .about-container p {
        width: 85%;
    }
}

@media (min-width: 900px) {
    .nav-toggle {
        display: none;
    }
    
    #nav-bar {
        width: 40%;
    }

    #coll {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #coll {
        height: 100vh;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1040px) {
    .btn {
        font-size: 1rem;
    }

    h1 {
        padding: 0;
    }

    #homepage, #about {
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        margin: 0;
    }

    #homepage {
        grid-template-columns: .3fr 4fr .3fr;
        width: 100%;
    }

    .home-text, #homepage img, #about h1, .about-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .home-text, #homepage img, .about-container {
        align-self: center;
    }

    .home-text {
        z-index: 1;
    }

    .home-para {
        width: 50%;
    }

    #homepage img{
        height: clamp(25em, 30vw, 50em);
        width: auto;
        justify-self: end;
    }
    
    .card img {
        width: 17em;
        height: 20em;
    }

    #about {
        grid-template-columns: 0.8fr 3fr 0.8fr;
    }

    #about h1 {
        align-self: start;
        transform: translateX(0) translateY(0);
        margin-top: clamp(-0.1em, 0, 1em);
        margin-left: clamp(0.1em, 0.5em, 3.5em);
    }

    .about-container {
        justify-self: end;
        transform: translateY(0);
        margin-bottom: 0;
        margin-right: clamp(1.5em, 4em, 7em);
    }

    #about img {
        height: clamp(20em, 22em, 26em);
        width: 90%;
        margin-top: 0;
    }

    .about-container p {
        width: 80%;
    }

    #works {
        display: grid;
        grid-template-columns: .3fr 3fr 2fr .3fr;
        grid-template-rows: 1fr 3fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 2em;
    }

    .videoWrapperOuter, #works h1 {
        grid-row: 2 / 3;
    }

    .videoWrapperOuter {
        grid-column: 2 / 3;
    }

    #works h1 {
        grid-column: 3 / 4;
    }
    
    footer {
        display: flex;
        justify-content: space-evenly;
        text-align: left;
    }

    .footer-links, .social, .subscribe{
        padding: 0;
    }

    .footer-links li:first-of-type {
        padding-top: 0;
    }

    .social p, .subscribe p:first-of-type {
        font-weight: 700;
        font-size: 1rem;
        padding-left: 0;
    }

    .social a {
        margin: .25em 1em;
    }

    .social a:first-of-type {
        margin-left: 0;
    }
    
    .subscribe {
        max-width: 400px;
    }

    .social p, .subscribe p:first-of-type {
        font-size: 1.2rem;
        padding-top: 0;
    }

    .subscribe p:nth-of-type(2) {
        line-height: 1.5;
        font-size: .875rem;
    }

    #email {
        margin-left: 0;
    }
}

@media (min-width: 1600px) {
    * {
        font-size: 18px;
    }

    #about h1 {
        margin-top: clamp(-0.3em, -0.5em, -1em);
        margin-left: clamp(0.1em, 0.5em, 3.5em);
    }
}