@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');


body{
    margin:0;
    padding:0;
    height:100%;
    background-color: #FFFCF2;
    color: #252422;
    text-align: center;
    font-family: Montserrat;
}

.header{
    color: #403D39;
    padding: 5em 0 3em;
}

h1{
    margin: 0;
    font-size: clamp(3rem, 10vw, 10rem);
    text-decoration: underline;
    text-decoration-color: #EB5E28;
    transition: 0.3s ease-in;
}

h1:hover{
    color: #EB5E28;
    text-decoration-color: #252422;
}

.motto{
    margin: 0;
    padding: 1em 7em;
    font-size: clamp(1.2rem, 2vw, 5rem);
    font-weight: 400;
}

#img-div{
    padding: 0 clamp(1em, 20vw, 22em);
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption{
    font-style: italic;
    font-size: clamp(0.8rem, 1vw, 1rem);
    padding: 0 2em;
}

/* timeline */
#tribute-info{
    margin: 0;
    padding: 1em 1em 3em;
}

h2{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #EB5E28;
}

.year-info{
    display: flex;
    align-items: center;
    padding: 0 5em;
}

.year{
    width: 30%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition-duration: 0.3s;
}

.year:hover{
    color: #EB5E28;
}

.info{
    width: 70%;
    text-align: left;
    font-size: 16px;
}

footer{
    padding: 1em;
    background-color: #EB5E28;
    color: #FFFCF2;
    font-size: 16px;
}

.link-label{
    margin: 0;
    padding: 0.5em;
}

a{
    color: #FFFCF2;
    font-weight: bold;
    text-decoration-color: #252422;
}

a:hover{
    color: #252422;
    text-decoration-color: #FFFCF2;
}

@media (max-width: 550px){
    .motto{
        padding: 1em;
    }

    #img-caption{
        padding: 0;
    }

    .year-info{
        display: block;
        width: 100%;
        align-items: center;
        padding: 1em 0;
    }

    .year{
        color: #EB5E28;
        font-size: 24px;
        margin: 0 auto;
    }

    .info{
        width: 90%;
        text-align: justify;
        margin: 0 auto;
        padding-top: 0.5em;
    }
}

@media (min-width: 1000px){
    .header {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
}